<div class="container-md mt-5" id="cont">

    <button class="btn btn-danger float-left mb-1" (click)="onClear()">Очистить</button>
    <button class="btn btn-secondary float-right mb-1" (click)="onLoadFile()">Загрузить из файла</button>

    <textarea class="form-control unresizable mb-1" [(ngModel)]=text rows="10" cols="10"></textarea>

    <div class="form-inline float-right">
        <select class="custom-select form-control mr-1" [(ngModel)]="type">
            <option>json</option>
            <option>csv</option>
        </select>
        <button class="btn btn-primary float-right" (click)="onCreateTable()">Создать таблицу</button>
    </div>
</div>